In [1]:
import os
os.makedirs(os.path.join(".","data"),exist_ok=True)
data_file=os.path.join(".","data","house.csv")
with open(data_file,"w") as f:
    f.write('NumRooms,Alley,Name,Price\n')  # colunm name
    f.write('NA,Pave,NA,127500\n')  # each line means one example
    f.write('2,NA,Jim,106000\n')
    f.write('4,NA,Anna,178100\n')
    f.write('NA,NA,NA,140000\n')

In [3]:
import pandas as pd
data=pd.read_csv(data_file)

In [ ]:
#calculate each column NaN numbers
na_count=data.isnull().sum()
#get max NaN column name
max_na_col=na_count.idxmax()
#delete this column,axis=1:delete column,default:inplace=false
data_drop=data.drop(max_na_col,axis=1)

In [7]:
print(f"缺失值最多的列是：{max_na_col}（缺失数：{na_count[max_na_col]}）")
print(data_drop)

缺失值最多的列是：NumRooms（缺失数：2）
   Name   Price
0   NaN  127500
1   Jim  106000
2  Anna  178100
3   NaN  140000

In [9]:
data_drop=pd.get_dummies(data_drop, dummy_na=True)
data_drop

    Price  Name_Anna  Name_Jim  Name_nan
0  127500      False     False      True
1  106000      False      True     False
2  178100       True     False     False
3  140000      False     False      True

In [10]:
import torch
x=torch.tensor(data_drop.to_numpy(dtype=float))
x

tensor([[1.2750e+05, 0.0000e+00, 0.0000e+00, 1.0000e+00],
        [1.0600e+05, 0.0000e+00, 1.0000e+00, 0.0000e+00],
        [1.7810e+05, 1.0000e+00, 0.0000e+00, 0.0000e+00],
        [1.4000e+05, 0.0000e+00, 0.0000e+00, 1.0000e+00]], dtype=torch.float64)